svg {
  width: 100%;
}
.text {
  font-size: 300px;
  font-family: 'Krona One', sans-serif;
}

$colors: #1D4259, #0A7373, #30BF7C, #BAF266, #EEF272;
$max: length($colors);

.g-spots circle {

  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}){
      fill: nth($colors, $item);
    }
  }
}




.text {
  fill: url(#p-stars); // this can be set inline on HTML or here in CSS
  stroke: #551F7A;
  stroke-width: 3;
}
$colors: #551F7A, #BA2799, #D9587A, #FFDD00, #FFF3A1;
$max: length($colors);

$time: 2s;
$time-step: $time/$max;

.g-stars polygon {
  stroke-width: 0;
  animation: stroke $time infinite;

  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}){
      $color: nth($colors, $item);
      fill: $color;
      stroke: $color;
      animation-delay: -($time-step*$item);
    }
  }
}

/* Change stroke-width within animation */

@keyframes stroke {
  50% {
    stroke-width: 10;
  }
}