svg {
  width: 100%; }

.text {
  font-size: 300px;
  font-family: 'Krona One', sans-serif; }

.g-spots circle:nth-child(5n + 1) {
  fill: #1D4259; }

.g-spots circle:nth-child(5n + 2) {
  fill: #0A7373; }

.g-spots circle:nth-child(5n + 3) {
  fill: #30BF7C; }

.g-spots circle:nth-child(5n + 4) {
  fill: #BAF266; }

.g-spots circle:nth-child(5n + 5) {
  fill: #EEF272; }

.text {
  fill: url(#p-stars);
  stroke: #551F7A;
  stroke-width: 8; }

.g-stars polygon {
  stroke-width: 0;
  animation: stroke 2s infinite; }
  .g-stars polygon:nth-child(5n + 1) {
    fill: #551F7A;
    stroke: #551F7A;
    animation-delay: -0.4s; }
  .g-stars polygon:nth-child(5n + 2) {
    fill: #BA2799;
    stroke: #BA2799;
    animation-delay: -0.8s; }
  .g-stars polygon:nth-child(5n + 3) {
    fill: #D9587A;
    stroke: #D9587A;
    animation-delay: -1.2s; }
  .g-stars polygon:nth-child(5n + 4) {
    fill: #FFDD00;
    stroke: #FFDD00;
    animation-delay: -1.6s; }
  .g-stars polygon:nth-child(5n + 5) {
    fill: #FFF3A1;
    stroke: #FFF3A1;
    animation-delay: -2s; }

/* Change stroke-width within animation */
@keyframes stroke {
  50% {
    stroke-width: 10; } }

.stroke-anime .text {
  font-size: 150px;
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  animation: stroke 6s infinite linear; }
  .stroke-anime .text:hover {
    fill: black; }
  .stroke-anime .text:nth-child(5n + 1) {
    stroke: #F2385A;
    animation-delay: -1.2s; }
  .stroke-anime .text:nth-child(5n + 2) {
    stroke: #F5A503;
    animation-delay: -2.4s; }
  .stroke-anime .text:nth-child(5n + 3) {
    stroke: #E9F1DF;
    animation-delay: -3.6s; }
  .stroke-anime .text:nth-child(5n + 4) {
    stroke: #56D9CD;
    animation-delay: -4.8s; }
  .stroke-anime .text:nth-child(5n + 5) {
    stroke: #3AA1BF;
    animation-delay: -6s; }

@keyframes stroke {
  100% {
    stroke-dashoffset: -400; } }
